{% extends 'catalog/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Регистрация
                </div>
                <div class="card-body">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="footer">
                        <button type="submit" class="btn btn-primary">
                            Регистрация
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</form>


{% endblock %}
