{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card shadow-sm">
            <img class="card card-img-top"
                 src="{% mediapath object.image %}"
                 alt="Card image cap" width="100%" height="350">
            <div class="card-body">
                <h3 class="card-text">{{ object.category|title }}</h3>
                <h5 class="card-text">{{ object.name|title }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <p class="card-text">{{ object.price|title }} RUB</p>
                {% if user.is_authenticated %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'order:create_order' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-success">Buy</a>
                        <a class="btn btn-sm btn-outline-warning"
                           href="{% url 'catalog:product_update' object.pk %}">Edit</a>
                        {% if perms.catalog.delete_products %}
                        <a class="btn btn-sm btn-outline-danger"
                           href="{% url 'catalog:product_delete' object.pk %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'order:create_order' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-success">Buy</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}